################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Customization/BlanketSalesOrders/Bin/PX.Objects.Delta.dll
/packages
/PX.Objects.Delta/bin
/PX.Objects.Delta/obj
/Site/App_Data/WebsiteID3926105012.txt
/Site/App_Data/WebsiteID1362530362.txt
/Site/App_Data/UpdateStatus.xml
/Site/App_Data/selflog.txt
/Site/App_Data/binding.xml
/Site/Bin/PX.Objects.Delta.pdb
/Site/Bin/PX.Objects.Delta.dll
/Site/web.config
/Site/web.config.DEV
/Site/CstPublished
/Site/App_Data/WebsiteSolution/Addon/obj
/Site/App_Data/WebsiteSolution/App_Subcode_Caches
/Publish*.lnk
/ERP
/Site/App_Data/CheckinFiles.xml
/Site/App_Data/CustomizationRollback.xml
/Site/App_Data/CustomizationPublishedInfo.xml
/Site/App_Data/CustomizationPublishedDoc.zip
/Site/App_Data/Projects/MoveControl/.vs/Site/v14/.suo
/Site/App_Data/WebsiteSolution/.vs/WebsiteSolution/v14/.suo
/Site/App_Data/WebsiteID3864080758.txt
/Site/Bin
